@model IEnumerable<PersonLocationViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Age)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.LocationName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>@item.LocationName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
